# 1- Question 
1-read you csv file (https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv )

2-print the first 5 rows 

3-print the shape of the data

4- print and data type of each column

In [2]:
import pandas as pd
pt = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
df = pd.DateFrame(pt, columns = ["carat","cut","color","clarity","depth","table","price","x","y","z"])
sha_pes = df.shape()
row_s = df.head(5)
d_types = df.dtypes

print(df,sha_pes,d_types)

AttributeError: module 'pandas' has no attribute 'DateFrame'

# 2-Question
1- print carat column

2- Write a Pandas program to create a new 'Quality -color' Column (cut,color)

examble => ( Ideal, E)

# 3-Question
1-Write a Pandas program to summarize the data.

2- only one column => 'table'

3- only 'float64' columns of the diamonds Dataframe. => include=['...']

# 4-Question
Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5. (x,y,z)

# 5-Question
1- rename one col

2- rename two col togeather

3- rename all col togeather

# 6-Question
Write a Pandas program to find the diamonds that are either Good or Very Good.

# 7-Question
1-print the name of all the columns

2- Mean of each column

3-Mean of each row of diamonds DataFrame:

# 8-Question
1- mean of 'price' column only

2- Write a Pandas program to calculate the mean of price for each cut of diamonds DataFrame.

3-Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

4- count how many times each value in cut series of diamonds DataFrame occurs. value_counts()

# 9-Question
Write a Pandas program to count the number of missing values in each Series of diamonds DataFrame.

In [ ]:
import pandas as pd

In [ ]:
pd.series([1,2,3,4,5,6])